<div>
    <p>Bienvenido {{users.first_name}} {{users.rol}}</p>
    <h1>Pagina de Productos</h1>
    {{#each products}}
        <p>Title: {{this.title}} </p>
        <p>Description: {{this.description}} </p>
        <p>Price: {{this.price}} </p>
        <p>Code: {{this.code}} </p>
    {{/each}}
    {{#if hasPrevPage}}
    <a href="/products?numPage={{prevPage}}">Anterior</a>
    {{/if}}
    <label>{{page}}</label>
    {{#if hasNextPage}}
    <a href="/products?numPage={{nextPage}}">Siguiente</a>
    {{/if}}
    <a href="/api/sessions/logout" class="btn btn-outline-danger w-2"></a>
</div>